WEEK 2 CLASS 3
Python String Concatenation and Formatting Assignments

In [ ]:
# ASSIGNMENT# 1
# String Concatenation and Formatting
# PGD-Batch-V,"Data Science with Artificial Intelligence"

Name = "Muhammad Salman"
Age = "40-Years"
Country = "Pakistan"
Mobile_No="+92 336 0577455"
print("My Name is ",Name,",I am",Age,"Years Old,","I live in Country.",Country,"My Contact# is :",Mobile_No)

My Name is  Muhammad Salman ,I am 40-Years Years Old, I live in Country. Pakistan My Contact# is : +92 336 0577455

In [ ]:
# ASSIGNMENT# 2
# String Formating using "format"
# PGD-Batch-V,"Data Science with Artificial Intelligence"

Product = "Computer"
Quantity = 5
cost_per_Unit = 10000
total_cost = Quantity * cost_per_Unit
print("total cost of five-05 computers is :Rs.", total_cost,"/-")

total cost of five-05 computers is :Rs. 50000 /-

In [ ]:
# ASSIGNMENT# 3
# String interpolation using "f"
# PGD-Batch-V,"Data Science with Artificial Intelligence"

temperature = "Weather"
Degree = "34°C"
City = "Karachi"
temp = f"Today karachi temerature is {temperature} and its is an good {Degree} for picnic"
print(temp)

Today karachi temerature is Weather and its is an good 34°C for picnic

In [ ]:
# ASSIGNMENT# 4
# String Formatting using "%()"
# PGD-Batch-V,"Data Science with Artificial Intelligence"

first_name = "Muhammad"
last_name = "Salman"
birth_year =int(input("Enter your birth Year :"))
current_year =int(input("Enter Current Year : "))
age = current_year - birth_year
f_string = "My Name is %s %s. I am %d years old." % (first_name,last_name,age)
print (f_string)
print (age)

Enter your birth Year :1982
Enter Current Year : 2023
My Name is Muhammad Salman. I am 41 years old.
41

In [ ]:
# ASSIGNMENT# 5
# Combining Formatting Methods
# PGD-Batch-V,"Data Science with Artificial Intelligence"

product = "~~~ Keyboard ~~~ "
discount = 25
original_price = 500
payable_amount = original_price * (1 - discount / 100)
descriptive_string = "Product: {}\nOriginal Price: {}\nDiscount: {}%\nPayable Amount : Rs. {:.2f}".format(
    product, original_price, discount, payable_amount)
print(descriptive_string)

Product: ~~~ Keyboard ~~~
Original Price: 500
Discount: 25%
Payable Amount : Rs. 375.00